@import '../../../modules/font';

@keyframes opac {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

header {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 73px 12px 0px;
	animation: opac 1000ms linear;
	z-index: 9999999;

	h1 {
		z-index: 9999999;

		span {
			display: inline-block;
			width: 35px;
			line-height: 21px;
			overflow: hidden;
			transition: width 300ms linear;
		}

		.hide {
			width: 0px;
			overflow: hidden;
			transition: width 300ms linear;
		}
	}

	.hero {
		text-align: center;
		height: 100%;
		width: 90vw;
		margin: 0 auto;

		.sliderContainer {
			width: 100%;
			height: 100%;
			animation: opac;
			transition: animation 800ms linear;
		}

		.slide {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 60%;
			animation: opac;
			transition: animation 800ms linear;
		}

		.heroBtnContainer {
			position: absolute;
			height: 100%;
			width: 90%;
			.prevBtn,
			.nextBtn {
				position: absolute;
				height: 100%;
				width: 250px;
				background: transparent;
				outline: none;
				border: none;
			}

			.prevBtn {
				left: 0;
				cursor: url('../../imgs/icons/prevArrow.png'), auto;
			}

			.nextBtn {
				cursor: url('../../imgs/icons/arrow.png'), auto;
				right: 0;
				top: 0;
			}
		}
	}
}

.headerTitle {
	font-family: $header-font;
	position: fixed;
	top: 29px;
	left: 71px;
	font-weight: 400;
}

nav {
	position: fixed;
	display: flex;
	top: 0;
	width: 100vw;
	height: 100%;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
	z-index: 999;
	cursor: url('../../imgs/icons/cancel.png'), auto;

	ul {
		list-style: none;
		padding: 50px 100px;
		text-align: center;

		li {
			padding: 13px 50px;

			a {
				padding: 10px 50px;
				text-decoration: none;
				color: #000;

				&:visited {
					color: inherit;
				}
			}
		}
	}
}

.hide {
	right: -120%;
	transition: all 400ms ease-in-out;
}

.show {
	right: 0;
	transition: all 400ms ease-in-out;
}

.menuIcon {
	position: fixed;
	width: 24px;
	outline: none;
	border: none;
	top: 29px;
	right: 71px;
	cursor: pointer;
	z-index: 999;
	background-color: transparent;

	span {
		display: block;
		height: 9px;
		border-bottom: 2px solid black;

		&:nth-child(1) {
			position: relative;
			width: 18px;
			left: 6px;
		}

		&:nth-child(2) {
			width: 24px;
		}
	}
}

.menuIcon:hover {
	span {
		&:nth-child(1) {
			width: 24px;
			left: 0;
		}

		&:nth-child(2) {
			position: relative;
			width: 18px;
			left: 6px;
		}
	}
}
