@import '../../../modules/font';

@keyframes opac {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

header {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 73px 12px 0px;
	animation: opac 1000ms linear;

	h1 {
		// width: auto;
		span {
			display: inline-block;
		}
	}

	.hero {
		text-align: center;
		height: 100%;
		width: 90%;
		background: url('../../imgs/hero.jpeg') no-repeat;
		background-position: center;
		background-size: cover;

		overflow: hidden;
		margin: 0 auto;
	}

	.headerTitle {
		font-family: $header-font;
		position: absolute;
		top: 29px;
		left: 71px;
		font-weight: 400;
	}

	nav {
		position: fixed;
		display: flex;
		top: 0;
		width: 100vw;
		height: 100%;
		background-color: #fff;
		align-items: center;
		justify-content: center;
		font-size: 1.3em;
		cursor: url('../../imgs/icons/cancel.png'), auto;

		ul {
			list-style: none;
			cursor: pointer;
			padding: 50px 100px;

			li {
				padding: 13px;

				a {
					text-decoration: none;

					&:visited {
						color: inherit;
					}
				}
			}
		}
	}

	.hide {
		right: -120%;
		transition: all 300ms ease-in;
	}

	.show {
		right: 0;
		transition: all 300ms ease-in;
	}

	.menuIcon {
		position: absolute;
		width: 24px;
		outline: none;
		border: none;
		top: 29px;
		right: 71px;
		cursor: pointer;
		z-index: 999;

		span {
			display: block;
			height: 9px;
			border-bottom: 2px solid black;

			&:nth-child(1) {
				position: relative;
				width: 18px;
				left: 6px;
			}

			&:nth-child(2) {
				width: 24px;
			}
		}
	}

	.menuIcon:hover {
		span {
			&:nth-child(1) {
				width: 24px;
				left: 0;
			}

			&:nth-child(2) {
				position: relative;
				width: 18px;
				left: 6px;
			}
		}
	}
}
